.image {
  width: 100%;
  height: 200px;
}
.userProfile{
  margin: 15px;
  /*color: white;*/
  border-bottom: 3px solid black;
}
.photo img {
  width: 200px;
}
.desc input{
  margin: 10px;
  color: blue;
}
.inpPhoto{
  margin: 5px;
  padding: 5px;
}
.profile{
  margin: 10px;
  padding: 10px;
  margin-left: 0;
  padding-left: 0;
}
.item{
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}